.post-container{
    width: 70vw;
    height: 80vh;
    margin: 100px auto;
    display: flex;
}
.post-container .image-wrapper{
    height: 100%;
    width: 70%;
}
.post-container .image{
    height: 100%;
}
.post-data{
    padding: 20px;
    width: 30%;
}
.link{
    color: blue;
    cursor: pointer;
}
.flex{
    display: flex;
}
.align-spread{
    justify-content: space-between;
}
.vertical-align-center{
    align-items: center;
}